*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display:flex;
    flex-direction: row;
    min-height: 100vh;
    gap: 0;
}

.left-area{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(105, 100, 100);
    width:25%;
    padding: 1%;
    height: 95vh;
    border-radius: 2% 0% 0% 2%;
}

.right-area{
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255,0.2);
    backdrop-filter: blur(10px);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(105, 100, 100);
    padding: 2%;
    height: 95vh;
    width:65%;
    border-radius: 0% 1% 1% 0%;
}

.profileInfo-area{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5%;
    padding: 2%;
    padding-left: 10%;
    border-radius: 20px;
    background-color: rgba(245, 238, 238, 0.2);
    backdrop-filter: blur(10px);
}

.chatlist-area{
    height: 90%;
    padding: 10%;
    overflow-y: auto;
}

.active-tab-area{
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.1rem;
}

.contacts-button,
.chats-button {
    width: 35%;
    background-color: rgb(75, 77, 216);
}
