*{
    box-sizing: border-box;
    color: rgb(241, 241, 241);
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:1.5rem;
}

input {
    padding-left: 5%;
    min-width: 25vw;
    min-height: 6vh;
    border-style: solid;
    border-width: 2px;
    border-radius: 5%;
    transition: none;
    background-color: transparent;
    font-family: inherit;
    font-size: medium;
}

.input-group {
    position: relative;
    width: 100%;
}

.input-group svg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(241,241,241);
}

.input-group input {
    padding-left: 35px; /* space for icon */
    width: 100%;
}

input:focus {
    outline: none;
    border-color: none;
}

.container{

    justify-content: center;
    align-items: center;
    display:flex;
    padding: 0px;
    min-height: 100vh;
}


.form-area{
    align-items: center;
    min-height: 80vh;
    min-width: 40vw;
    padding: 2%;
    background-color: rgb(255,255,255,0.2);
    backdrop-filter: blur(10px);
    border-style: none;
    border-top-left-radius: 5%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 0%;
}


.picture-area{
    min-height: 80vh;
    min-width: 40vw;
    padding: 2%;
    background-color: orange;
    border-style: none;
    border-top-left-radius: 0%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5%;
    display: inline-block;
}

.submit-button {
    border: none;
    border-radius: 5%;
    background-color: rgb(102, 102, 212);
    align-self: center;
    min-height: 7vh;
    min-width: 15vw;
}

.submit-button:hover {
    background-color: rgb(133, 133, 196);
}

.submit-button:focus{
    border: none;
    outline: none;
}
