.message-entry-area {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: flex-end;
    gap: 0;
}

input {
    font-size: medium;
    background-color: rgb(29, 25, 25);
    border: none;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 9999px 0% 0% 9999px;
    width: 100%;
    height: 7.5vh;
}

.send-button {
    border-radius: 0% 9999px 9999px 0%;
    height: 7.5vh;
}

.send-button:hover,
.send-button:focus {
    outline: none;
    border: none;
}


.send-icon:hover {
    transform: scale(1.05)
}

.messages-area {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 5%;
    flex: 1;
    min-height: 0;
}

.messages-area::-webkit-scrollbar-track{
    background: transparent;
}



.opened-chat-info-area{
    background-color: rgb(226, 208, 208,0.2);
    backdrop-filter: blur(10px);
    border-style: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 3%;
}

.name-status-area{
    display: flex;
    flex-direction: column;
}

.close-chat-button{
    margin-left: auto;
    border-radius: 999px;
}