.timestamp{
    align-self: flex-end;
    font-size: 0.75rem;
    margin-top: 10px;
}

.message-bubble-mine,
.message-bubble-theirs {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
    color: black;
    background-color: rgb(200, 194, 247);
}

.message-bubble-mine{
    align-self: flex-end;
    color: white;
    background-color: rgb(79, 96, 172);
}

.status-mine{
    margin-right: 3%;
    font-size: 0.75rem;
    align-self: flex-end;
}
